github "Alamofire/Alamofire" "master"
github "vikmeup/SCLAlertView-Swift" "master"
github "WenchaoD/FSCalendar" "master"
github "RemyDCF/EFCircularSlider" "master"
github "nickoneill/PermissionScope" "master"
github "intuit/LocationManager" "master"
github "mamaral/Onboard" "master"
github "ninjaprox/NVActivityIndicatorView" "master"
github "SwiftyJSON/SwiftyJSON" "master"
github "ViccAlexander/Chameleon" "swift3"
github "PrideChung/FontAwesomeKit" "master"
github "xxxAIRINxxx/VHUD" "master"
github "malcommac/SwiftLocation" "master"
