github "Akkyie/AKPickerView-Swift" "master"
github "Alamofire/Alamofire" "master"
github "WenchaoD/FSCalendar" "master"
github "RemyDCF/EFCircularSlider" "master"
github "mamaral/Onboard" "master"
github "RemyDCF/DGElasticPullToRefresh" "master"
github "RemyDCF/DGRunkeeperSwitch" "master"
github "ninjaprox/NVActivityIndicatorView" "master"
github "RemyDCF/SCLAlertView-Swift" "master"
github "malcommac/SwiftLocation" "master"
github "SwiftyJSON/SwiftyJSON" "master"
github "xxxAIRINxxx/VHUD" "master"
