github "Alamofire/Alamofire" "master"
github "WenchaoD/FSCalendar" "master"
github "RemyDCF/EFCircularSlider" "master"
github "mamaral/Onboard" "master"
github "ViccAlexander/Chameleon" "swift3"
github "PrideChung/FontAwesomeKit" "master"
