<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tpg offline (Tests).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tpg offline Travis CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tpg offline Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>tpg offline Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tpg offline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002B47DC1C01FA6F000BF3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00430B461C9B1D4D00C71A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>004499931C624DA900CAA058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>005BAE8F1D0452FB00F73C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AAA5791CB963D2002C6509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C6835C1C624170000709AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C683981C6243F4000709AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00C6C3001CF5DA16000C1CF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00CF1F171C5690EA002332B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD11CD821C8336AA00DFF4AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
